{% extends 'base.html' %}

{% load static %}

{% block content %}
<div id="pos-gas" v-cloak>
    <div class="container mt-5">
        <h1>Add Gasoline Station Information</h1>
        <hr>
        <form @submit.prevent="addGas">
            <div class="form-row">
                <div class="form-group col-md-6 col-sm-12">
                    <label>Name</label>
                    <input type="text" v-model="newGas.name" class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label>Site location</label>
                    <input type="text" v-model="newGas.site_location" class="form-control">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 col-sm-12">
                    <label>Site Manager</label>
                    <select class="custom-select" v-model="newGas.site_manager">
                        <option v-for="manager in managers">
                            [[ manager.full_name ]]
                        </option>
                    </select>
                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <label>Site Staffs</label>
                    <select class="custom-select" multiple v-model="newGas.site_staff">
                        <option v-for="staff in staffs">[[ staff.full_name ]]</option>
                      </select>
                </div>
                <div class="form-group col-md-6 col-sm-12">
                    <label>Price management flexibility</label>
                    <input type="text" v-model="newGas.price_management_flexibility" class="form-control">
                </div>
            </div>
            <button type="submit" class="btn btn-success pull-right">Add</button>
        </form>
    </div>
</div>
{% endblock %}