{% extends 'base.html' %}

{% load static %}

{% block content %}
<div id="pos-sales" v-cloak>
    <div class="mt-3">
        <h1>Manage Sales</h1>
        <hr>
        <div class="form-row">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" data-toggle="modal" data-target="#salesModal" class="btn btn-success">Add
                    sales</button>
                {% if request.user.position == 'Manager' or request.user.position == 'Owner' %}
                <button type="button" data-toggle="modal" data-target="#fuelModal" class="btn btn-primary">Add type of
                    fuel</button>
                {% endif %}
            </div>
        </div>
    </div>
    <div v-if="loading" class="text-center mt-5">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="card mt-5" v-else>
        <div class="card-header">List Gasoline Stations</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Type of fuel</th>
                            <th scope="col">Sales</th>
                            <th scope="col">Price</th>
                            <th scope="col">Gas station assigned</th>
                            <th scope="col">Dispensed Liter</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="7" class="text-center bg-warning" v-if="!sales.length">
                                Currently there's no <strong>Sales</strong> added.
                            </td>
                        </tr>
                        <tr v-for="sale in sales">
                            <td>[[ sale.created_at ]]</td>
                            <td>[[ sale.type_of_fuel ]]</td>
                            <td>[[ sale.sales ]]</td>
                            <td>[[ sale.price ]]</td>
                            <td>[[ sale.gas_station_assigned ]]</td>
                            <td>[[ sale.dispensed_liter ]]</td>
                            <td><a href="#" data-toggle="modal" v-on:click="fetchSale(sale.id)"
                                    data-target="#editSalesModal" class="badge badge-info">Edit</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="editSalesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form v-on:submit.prevent="updateSales">
                    <div class="modal-body">
                        <template v-if="viewing">
                            <div class="text-center">
                                <div class="spinner-grow text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </template>
                        <template v-else>
                            {% include 'gas/SalesEdit.html' %}
                        </template>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <template v-if="saving">
                            <button type="button" class="btn btn-primary" disabled><i class="fa fa-spinner fa-spin"></i>
                                Save
                                changes</button>
                        </template>
                        <template v-else>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </template>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Add Modal -->
    <div class="modal fade" id="salesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form v-on:submit.prevent="addSales">
                    <div class="modal-body">
                        <template v-if="viewing">
                            <div class="text-center">
                                <div class="spinner-grow text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </template>
                        <template v-else>
                            {% include 'gas/SalesAdd.html' %}
                        </template>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <template v-if="saving">
                            <button type="button" class="btn btn-primary" disabled><i class="fa fa-spinner fa-spin"></i>
                                Save
                                changes</button>
                        </template>
                        <template v-else>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </template>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Fuel Modal -->
    <div class="modal fade" id="fuelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form v-on:submit.prevent="addTypeOfFuel">
                    <div class="modal-body">
                        <template v-if="viewing">
                            <div class="text-center">
                                <div class="spinner-grow text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </template>
                        <template v-else>
                            {% include 'gas/FuelAdd.html' %}
                        </template>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <template v-if="saving">
                            <button type="button" class="btn btn-primary" disabled><i class="fa fa-spinner fa-spin"></i>
                                Save
                                changes</button>
                        </template>
                        <template v-else>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </template>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}