<div class="form-row">
    <div class="form-group col-md-12">
        <label>Type of Fuel</label>
        <select class="custom-select" v-model="newSales.type_of_fuel">
            <option v-for="item in typeOfFuel.results" :key="item.id">
                [[ item.name ]]
            </option>
        </select>
        {% if request.user.position == 'Manager' or request.user.position == 'Owner' %}
        <a href="#" data-toggle="modal" data-target="#fuelModal"
            class="badge badge-info">Add type of fuel</a>
        {% endif %}
    </div>
    <div class="form-group col-md-12">
        <label>Gasoline Station assigned</label>
        <select class="custom-select" v-model="newSales.gas_station_assigned">
            <option v-for="gas in gasStations">
                [[ gas.name ]]
            </option>
        </select>
    </div>
    <div class="form-group col-md-12">
        <label>Sales</label>
        <input type="number" step="0.01" v-model="newSales.sales" @keypress="isNumber($event)"
         class="form-control">
    </div>
    <div class="form-group col-md-12">
        <label>Price</label>
        <input type="number" step="0.01" v-model="newSales.price" @keypress="isNumber($event)"
         class="form-control">
    </div>
</div>