<div class="form-row">
    <div class="form-group col-md-12">
        <label>Fuel</label>
        <select class="custom-select" v-model="currentTransactions.fuel">
            <option v-for="fuel in fuelPrices.results">
                [[ fuel.fuel_price ]]
            </option>
        </select>
    </div>
    <div class="form-group col-md-12">
        <label>Gasoline Station assigned</label>
        <select class="custom-select" v-model="currentTransactions.gas_station_assigned" disabled>
            <option v-for="gas in gasStations.results">
                [[ gas.name ]]
            </option>
        </select>
    </div>
    <div class="form-group col-md-12">
        <label>Sales</label>
        <input type="number" step="0.01" v-model="currentTransactions.sales" @keypress="isNumber($event)"
         class="form-control">
    </div>
    <div class="form-group col-md-12">
        <label>Fuel price</label>
        <input type="text" v-model="currentTransactions.fuel_price" disabled class="form-control">
    </div>
    {% if request.user.position == 'Owner' or request.user.position == 'Manager' %}
    <hr>
    <h6>Important info</h6>
    <div class="form-group col-md-12">
        <label>Created by</label>
        <input type="text" v-model="currentTransactions.created_by" class="form-control" disabled>
    </div>
    <div class="form-group col-md-12">
        <label>Updated by</label>
        <input type="text" v-model="currentTransactions.updated_by" class="form-control" disabled>
    </div>
    {% endif %}
</div>