{% extends 'base.html' %}

{% block title %}
- Fuels
{% endblock %}

{% load static %}

{% block content %}
<div id="pos-fuel" v-cloak>
    <div class="mt-3">
        <h1>Manage Fuel types</h1>
        <hr>
        <div class="form-row">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" data-toggle="modal" data-target="#fuelModal" class="btn btn-success">Add
                    fuel type</button>
            </div>
        </div>
    </div>
    <div v-if="loading" class="text-center mt-5">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="card mt-5" v-else>
        <div class="card-header">List Fuel types</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Date created</th>
                            <th scope="col">Date updated</th>
                            <th scope="col">Name</th>
                            <th scope="col">Created by</th>
                            <th scope="col">Updated by</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="!fuels.count">
                            <td colspan="7" class="text-center bg-warning">
                                Currently there's no <strong>Sales</strong> added.
                            </td>
                        </tr>
                        <tr v-for="item in fuels.results" :key="item.id">
                            <td>[[ item.created_at ]]</td>
                            <td>[[ item.updated_at ]]</td>
                            <td>[[ item.name ]]</td>
                            <td>[[ item.created_by ]]</td>
                            <td>[[ item.updated_by ]]</td>
                            <td><a href="#" data-toggle="modal" v-on:click="fetchFuel(item.id)"
                                    data-target="#editFuelModal" class="badge badge-info">Edit</a></td>
                        </tr>
                    </tbody>
                </table>
                <!-- pagination -->
                <hr>
                <nav aria-label="...">
                    <ul class="pagination pull-right">
                        <li :class="[{ disabled: previous === null }, 'page-item']">
                            <a class="page-link" href="#" @click="previousPage">Previous</a>
                        </li>
                        <li :class="[{ disabled: next === null }, 'page-item']">
                            <a class="page-link" href="#" @click="nextPage">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    <div class="modal fade" id="editFuelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form v-on:submit.prevent="updateFuel">
                    <div class="modal-body">
                        <template v-if="viewing">
                            <div class="text-center">
                                <div class="spinner-grow text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </template>
                        <template v-else>
                            {% include 'fuel/FuelEdit.html' %}
                        </template>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <template v-if="saving">
                            <button type="button" class="btn btn-primary" disabled><i class="fa fa-spinner fa-spin"></i>
                                Save
                                changes</button>
                        </template>
                        <template v-else>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </template>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Add Modal -->
    <div class="modal fade" id="fuelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form v-on:submit.prevent="addFuel">
                    <div class="modal-body">
                        <template v-if="viewing">
                            <div class="text-center">
                                <div class="spinner-grow text-primary" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </template>
                        <template v-else>
                            {% include 'fuel/FuelAdd.html' %}
                        </template>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <template v-if="saving">
                            <button type="button" class="btn btn-primary" disabled><i class="fa fa-spinner fa-spin"></i>
                                Save
                                changes</button>
                        </template>
                        <template v-else>
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </template>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block api %}
<script src="{% static 'vue/src/gas/fuel.js' %}" type="text/javascript"></script>
{% endblock %}