<div class="form-row">
    <div class="form-group col-md-12">
        <label>Name</label>
        <input type="text" v-model="currentGas.name" class="form-control">
    </div>
<hr>
<h5>Important Info</h5>
<div class="form-row">
    <div class="form-group col-md-6">
        <label for="inputCity">Created by</label>
        <input type="text" v-model="currentGas.created_by" disabled class="form-control">
    </div>
    <div class="form-group col-md-6">
        <label for="inputCity">Updated by</label>
        <input type="text" v-model="currentGas.updated_by" disabled class="form-control">
    </div>
</div>