{% extends 'base.html' %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

<div class="container">
    {% if request.user.position == 'Cashier' %}
    <div class="card">
        <div class="card-header">
            Computations
        </div>
        <div class="card-body">
            <h6>Weekly over all computations</h6>
            <hr>

            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <p>Weekly sales: <strong>
                            {% if weekly_sales.sales__sum == None %}
                            {{ weekly_sales.sales__sum }}
                            {% else %}
                            &#8369;{{ weekly_sales.sales__sum }}
                            {% endif %}
                        </strong>
                    </p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <p>Weekly dispensed liter: <strong>
                            {{ weekly_liter.dispensed_liter__sum }}
                        </strong>
                    </p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <p>Weekly price accumulated: <strong>
                            {% if weekly_price.prices__sum == None %}
                            {{weekly_price.prices__sum}}
                            {% else %}
                            &#8369;{{weekly_price.prices__sum}}
                            {% endif %}
                        </strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="card-group">
        {% if request.user.position == 'Cashier' %}
        <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
            <div class="card mb-3">
                <a href="{% url 'sales' %}" class="card-header">Transactions</a>
                <div class="card-body">
                    <p class="card-text">View all <strong>Transaction</strong> made for today.
                    </p>
                </div>
            </div>
        </div>
        {% elif request.user.position == 'Owner' or request.user.position == 'Manager' %}
        <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
            <div class="card mb-3">
                <a href="{% url 'sales' %}" class="card-header">Transactions</a>
                <div class="card-body">
                    <p class="card-text">View all <strong>Transactions</strong> made.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
            <div class="card mb-3">
                <a href="{% url 'gas' %}" class="card-header">Gas Station</a>
                <div class="card-body">
                    <p class="card-text">View all <strong>Gas Station</strong> data.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
            <div class="card mb-3">
                <a href="{% url 'prices' %}" class="card-header">Price Management</a>
                <div class="card-body">
                    <p class="card-text">View all <strong>Price</strong> data.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
            <div class="card mb-3">
                <a href="{% url 'fuels' %}" class="card-header">Fuel Type</a>
                <div class="card-body">
                    <p class="card-text">View all <strong>Fuel type</strong> data.
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
            <div class="card mb-3">
                <a href="{% url 'profile' %}" class="card-header">Profile</a>
                <div class="card-body">
                    <p class="card-text">View your <strong>Profile</strong> data. <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block api %}
{% endblock %}