{% extends 'base.html' %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="card-group">
        <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
            <div class="card mb-3">
                <a href="{% url 'gas' %}" class="card-header">Gas Station</a>
                <div class="card-body">
                    <p class="card-text">View all <strong>Gas Station</strong> data.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
            <div class="card mb-3">
                <a href="{% url 'sales' %}" class="card-header">Sales</a>
                <div class="card-body">
                    <p class="card-text">View all <strong>Sales</strong> data for today.
                    </p>
                </div>
            </div>
        </div>
        {% if request.user.position == 'Owner' or request.user.position == 'Manager' %}
        <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
            <div class="card mb-3">
                <a href="{% url 'prices' %}" class="card-header">Price Management</a>
                <div class="card-body">
                    <p class="card-text">View all <strong>Price</strong> data.
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="col-lg-3 col-md-4 col-sm-6 mt-5">
            <div class="card mb-3">
                <a href="{% url 'profile' %}" class="card-header">Profile</a>
                <div class="card-body">
                    <p class="card-text">View your <strong>Profile</strong> data. <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block api %}
{% endblock %}